/*
style.scss
---------

By Robin Guesdon
*/

/*********************
    Imports
*********************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

/*********************
    Main colors RGBA
*********************/
$background: rgba(242,241,239, 1);
$text: rgba(38,32,27, 1);
$title: rgba(89,75,64, 1);
$border: rgba(140,120,103, 1);
$box: rgba(191,175,162, 1);

/**********
    Font
***********/
$primary-font: 'Quicksand', sans-serif;

$font-weight: 450;

/***********
    Mixins
************/

/**********
    Main
***********/
body{
    margin: 0px;
    padding: 0px;
    font-family: $primary-font;
    background-color: $background;
}

header{
    padding-top: 10px;
    background-color: $box;
}

.save_button{
    background-color: $box;
    border: solid 1px $border;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
}

//Logos
.logo{
    padding-left: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    a{
        margin-right: 3px;
    }
}

// Title at center
h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 5px;
    margin-top: 0px;
}

// Title and links decoration
h1,
a{
    text-decoration: none; 
    color: $title;
    font-weight: 700;  
}

// Links' position
.adders{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-left: 350px;
    padding-right: 350px;
    
    .add-folder{
        margin-right: 10px;
    }

    .add-post{
        margin-left: 10px;
    }
}

.edit-folder{
    margin-right: 10px;
}

// Links' decoration
.adders > div{
    background-color: $background;
    border: solid 1px $border;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
}


// Effect under links of folder list 
.folder_effect::after{
    content: "";
    display: block;
    position: absolute;
    border-bottom: solid 1.1px $border;
    width: 40px;
    height: 3px;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.folder_effect:hover::after{
    transform: scale(1);
}

/***************
    Folder List
****************/
.titles{
    color: $title;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid $box;
    width: 85%;
    margin-left: 0px;
}

/*************
    New Post
*************/
.block{
    margin-left: 200px;
    margin-top: 30px;
}

/*************
    PostList
*************/
.post{
    margin-right: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
}

/*********
    Form
**********/
.form{
    margin-top: 25px;
}

/***************
    RESPONSIVE
****************/
@media only screen and (max-width: 1024px) {
    .add-folder {
        margin-right: 100px;
    }
    .add-post {
        margin-left: 100px;
    }
    .adders{
        white-space: nowrap;
    }
    hr{
        width: 500px;
    }
  }

  @media only screen and (max-width: 750px) {
    // .add-folder {
    //     margin-right: 70px;
    // }
    // .add-post {
    //     margin-left: 70px;
    // }
    .adders{
        white-space: nowrap;
    }
    hr{
        width: 400px;
    }
  }

footer{
    position: absolute;
    bottom: 0;
}