<!-- Load of static folder -->
{% load static %}
<!DOCTYPE html>
    <head>
        {% block title %}
            <title>Logbook</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!------------
            HEADER 
        -------------->
        <div class="logo">
            <a href=""><img width="20" height="20" alt="GitHub Logomark" class="height-auto" src="{% static 'img/GitHub-Mark-32px.png' %}"></a>
            <p>| By GUESDON Robin</p>
        </div>
        
        <header class="page-header">
            <!-- Title -->
            <h1><a href="{% url 'folder_list' %}">Logbook</a></h1>

            <!-- Links for news folders / files -->
            <div class="adders">
                {% block folder_actions %}
                    <div class="add-folder">
                        <a href="{% url 'folder_new' %}">
                            New folder
                        </a>    
                    </div>
                {% endblock folder_actions %}

                <div class="add-file">
                    <a href="{% url 'post_new' %}">
                        New post
                    </a>
                </div>   
            </div>
        </header>

        <!-----------
            MAIN 
        ------------>
        <main>
            <div class="block">
                <!-- List of post referring to the file 'post_list.html' -->
                {% block content %}
                {% endblock content %}
            </div>
        </main> 
        <footer>
            <p>RENNES</p>
        </footer>
    </body>
</html>