<!-- Load of static folder -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>Logbook</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!------------
            HEADER 
        -------------->
        <header class="page-header">

            <!-- Title -->
            <h1><a href="{% url 'folder_list' %}">Logbook</a></h1>

            <!-- Links for news folders / files -->
            <div class="adders">
                {% block folder_actions %}
                    <div class="add-folder">
                        <!-- Authentication check to display the new post icon -->
                        {% if user.is_authenticated %}
                            <a href="{% url 'folder_new' %}" class="top-menu">
                                New folder {% include '../icons/folder.svg' %}
                            </a>
                        {% endif %}
                    </div>
                {% endblock folder_actions %}

                <div class="add-file">
                    <!-- Authentication check to display the new post icon -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu">
                            New post {% include '../icons/file-earmark-plus.svg' %}
                        </a>
                    {% endif %}
                </div>   
            </div>

        </header>

        <!-----------
            MAIN 
        ------------>
        <main>
            <div class="block">
                <!-- List of post referring to the file 'post_list.html' -->
                {% block content %}
                {% endblock content %}
            </div>
        </main>

    </body>
</html>