<!-- Load of static folder -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Logbook</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!------------
            HEADER 
        -------------->
        <header class="page-header">

            <!-- Title -->
            <div class="container">
                <h1><a href="{% url 'folder_list' %}">Logbook</a></h1>
<!-- A VOIR DIV CONTAINER -->
            </div>

            <!-- Links for news folders / files -->
            <div class="adders">
                <div class="add-folder">
                    <!-- Authentication check to display the new post icon -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu">
                            New folder {% include '../icons/folder.svg' %}
                        </a>
                    {% endif %}
                </div>

                <div class="add-file">
                    <!-- Authentication check to display the new post icon -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu">
                            New file {% include '../icons/file-earmark-plus.svg' %}
                        </a>
                    {% endif %}
                </div>   
            </div>

        </header>

        <!-----------
            MAIN 
        ------------>
        <main>
            <div class="block">
                <!-- List of post referring to the file 'post_list.html' -->
                {% block content %}
                {% endblock %}
            </div>
        </main>

    </body>
</html>