<!-- Use of 'base.html' -->
{% extends 'posts/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <!-- Authentication check to display the pencil icon -->
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    {% include '../icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>      

        <!-- Display of the post -->
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}