<!-- Use of 'base.html' -->
{% extends 'posts/base.html' %}

{% block folder_actions %}
    <div class="add-folder">
        <a href="{% url 'folder_delete' pk=folder.pk %}">
            Delete folder
        </a>      
    </div>

    <div class="add-folder">
        <a href="{% url 'folder_edit' pk=folder.pk %}">
            Edit folder
        </a>
    </div>
{% endblock folder_actions %}

{% block content %}  

    {% if posts %}
        <h2 class="titles">List of posts</h2> 
        <hr>
        {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.created_date }}
                </time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}  
    {% else %} 
        <p>Aucun post ne correspond à votre recherche</p>
    {% endif %} 

{% endblock content %}        
