<!-- Use of 'base.html' -->
{% extends 'posts/base.html' %}

{% block folder_actions %}
    <div class="add-folder">
        <a href="{% url 'post_delete' pk=post.pk %}">
            Delete post
        </a>    
    </div>
{% endblock folder_actions %}

{% block content %}
    <h2 class="titles">{{ post.title }}</h2> 
    <hr>
    <article class="post">
        <!-- Display of the post -->
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock content %}