<!-- Use of 'base.html' -->
{% extends 'posts/base.html' %}


{% block title %}
    <title>LogBook | Création post</title>
{% endblock title %}

{% block content %}
    <h2 class="titles">New post</h2>
    <hr>
    <form method="POST" class="form">        
        {% csrf_token %}
        {{ form.as_p }} 
        <!-- 
            csrf_token : (obligé pour form), sécurisation prévue par django
            form : afficher les différents champs du fomulaire
            as_p : pour afficher les champs du formulaire sous forme de paragraphe
        -->
        <button type="submit" class="save_button">Save</button>
    </form>
{% endblock content %}