<!-- Use of 'base.html' -->
{% extends 'posts/base.html' %}
<!-- Load of static folder -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>LogBook</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body> 
        {% block content %}  
        
            {% if posts %}
                {% for post in posts %}
                    <article class="post">
                        <time class="date">
                            {{ post.created_date }}
                        </time>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </article>
                {% endfor %}  
            {% else %} 
                <p>Aucun post ne correspond à votre recherche</p>
            {% endif %} 

        {% endblock %}        
    </body>
</html>